.top{
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.centre{
    text-align: center;
}
thead{
    color: #524A4A;
}

.lefta{
    border-left: none;
    font-size: 1em;
}
.taille{
    font-size: 25px;
    border-right: none;
}
.jaune{
   background-color: #F7DC6F;
}

.spanner{
    
    font-family: cursive;
    color: dimgray;
    font-style: oblique;
    font-size: 1.05em;
}
.gr{
    font-size: 0.8em;
}
.ecole{
    margin-bottom: 40px;
    font-size: 0.8em;
    font-weight: bold;
}
.deux{
    margin-left: 120px;
}

.creancier{
    width:20%; 
    height:15px;
}
.bord{
    width:7%;
}
.bordd{
    width:9%;
}
.somme{
    width:13%;
}
.reference{
    width:60%; 
}
.reference1{
    width:57%;
}
.mandatee1{
    width:15%;
}
.Date1{
    width: 8%;
}
.comptable{
    font-size: 0.8em;
}
.mille{
    height:80px;
}

.sign{
    width:80px; height:60px;
}
.douze{
    width: 11%;
}
.bot{
    margin-bottom: 300px;
}
.wit{
    padding:20px;
    padding-right: 25px;
    background-color: white;
    
}
thead{
    color: rgb(82, 74, 74);
    font-weight: bold;
}
.alice{
    background-color: rgb(118, 196, 199);
}

.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}